

 <!DOCTYPE html>
 
 <html lang="en">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <title>Add Artifact</title>
 </head>
 <body>
 <p><h1>Add Artifact</h1></p>
<!-- Post images on add artifact page -->
 <form method="post" enctype="multipart/form-data">
   {% csrf_token %}
    {{ form.as_p }}
   <button type="submit">Upload</button>
 </form>
 {% if img_obj %}
   <h3>Succesfully uploaded : {{img_obj.title}}</h3>
   <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
 {% endif %}
 </body>
 </html>

