<!DOCTYPE html>
{% extends 'main.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inheritance Gallery</title>
</head>

<body>
    {% block content %}
    <button type="button"> 
        <a href="{% url 'addartifact' %}">ADD ARTIFACT</a>
    </button>
    <br/>
    <button type="button">BROWSE</button>
    <br/>
    <div class="btn-group">
        <a href="#" class="btn btn-light">&#8810;</a>
        <a href="#" class="btn btn-light">&#8811;</a>
    </div>
    <br/>
    <button type="button"> 
        <a href="{% url 'landingpage' %}">HOME</a>
    </button>
    <br/>
    <br/>

    <h1>GALLERY</h1>
    {% endblock content %}
</body>
</html>