
<!DOCTYPE html>
{% extends 'main.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inheritance Our Story</title>
</head>

<body>
    {% block content %}
    
    <button type="button"> 
        <a href="{% url 'landingpage' %}">LANDING PAGE</a>
    </button>
    <br/>
    <button type="button"> 
        <a href="{% url 'gallery' %}">GALLERY</a>
    </button>
    <br/>
    <button type="button"> 
        <a href="{% url 'addartifact' %}">ADD ARTIFACT</a>
    </button>
    <br/>
    <br/>

    <h1>OUR STORY</h1>
    <p>What would you leave behind to benefit the world?</p>  
<br/>
<br/>
    <h2>VISION</h2>
        <p>Humanity is the story of mankind. It includes every man, woman, and child born since the first human couple. It includes those not born yet, who no less will be valued to someone, somewhere.  It is a chain of random events. The contributions made by others.  Some are invisible to the naked eye. Dozens of coincidental acts by others that result in bringing  together people born miles apart, even worlds apart.  Despite the odds they manage to connect in blissful harmony.  Often, for a lifetime. The selfish efforts of a few that have altered destinies, forever.  Whether we admit it, or not, everyone makes a contribution to the story of humanity, and consequently, our universe.  We have all been inspired by these actions, or by countless objects, for a moment, or for our entire lives.  So... WHAT MAKES YOU ADD TO THE STORY?</p>    
<br/>
<br/>
    <h2>CHALLENGE</h2>       
        <p>Imagine what you would leave behind to benefit the world? </p>
<br/>
<br/>
    <h2>JOIN</h2>        
        </p>Upload an "ARTIFACT" that captured the challenge reflected above. <a href="" class="addArtifactLink">ADD ARTIFACT page</a>. Describe the importance of it, and why it inspired you. </p>
    {% endblock content %}
</body>
</html>

